body {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	background: url(../dz4_emirjum_13-01/img/univer.jpg) center no-repeat;
	background-size: cover;
	height: 100vh;
}
.main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 200px;
}
.btn {
	width: 150px;
	height: 150px;
	background-color: blueviolet;
	border-radius: 30px;
	border: 0;
}
.btn span {
	font-size: 50px;
	color: beige;
}
#center {
	width: 100px;
	height: 100px;
	background-color: blueviolet;
	border-radius: 40px;
	border: 0;
}
#center span {
	color: beige;
	font-size: 50px;
	line-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.resets {
	display: flex;
	justify-content: center;
	align-items: center;
}
.main_reset {
	width: 200px;
	height: 200px;
	background-color: aqua;
	border-radius: 50px;
	border: 0;
}
.main_reset span {
	color: bisque;
	font-size: 50px;
}
