body {
	margin: 0;
	padding: 0;
	background: url(../dz5_emirjum_13-01/img/svetofor.jpg) center no-repeat;
	background-size: cover;
	height: 100vh;
}
.main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 50px;
}
.red {
	width: 200px;
	height: 200px;
	background-color: black;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.yellow {
	width: 200px;
	height: 200px;
	background-color: black;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.green {
	width: 200px;
	height: 200px;
	background-color: black;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.red_inner {
	width: 100px;
	height: 100px;
	background-color: grey;
	border-radius: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: white;
	font-weight: 700;
}
.yellow_inner {
	width: 100px;
	height: 100px;
	background-color: grey;
	border-radius: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: white;
	font-weight: 700;
}
.green_inner {
	width: 100px;
	height: 100px;
	background-color: grey;
	border-radius: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: white;
	font-weight: 700;
}
