* {
	margin: 0;
	padding: 0;
	background-color: aqua;
}
.input {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 150px;
}
.name {
	width: 200px;
	height: 40px;
	border-radius:30px 0 0 30px;
	border: 2px solid darkgoldenrod;
	padding: 5px;
}
.knopka {
	width: 100px;
	height: 52px;
	border-radius: 0 30px 30px 0;
	background-color: red;
	margin-left: 5px;
}
.list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-indent: 20px;
	width: 1310px;
}
